*{
    margin: 0px;
    padding: 0px;
}
@font-face{font-family:'dillen';
    src:url('fonts/Dillen.ttf') format('truetype'),
}
body{
    font-family: Dillen;
}
.head{
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    padding-top: 5px;
    box-shadow: #000000 0px 5px 10px;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.one-header{
    background-color: #FFFFFF;
    height: 100%;      
    text-align: center;
}
.search-box{
    border-radius: 10px;
    background-color: #F1F2F6;
    color: #868686;
    text-align: right;
    margin-top: 10px;
    line-height: 0px;
    width: auto;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: #dcdcdc 0px 5px 10px;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-right: 10px;
}
.search-box input{
    all: unset;

}
.nothing{
    width: auto;
    height: 100px;
}

.center-all{
    text-align: center;
}
.box-part{
    background-color: #ffffff;
    box-shadow: #dcdcdc 0px 5px 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.box-part p{
    line-height: 0px; 
    margin-top: 7px;   
    font-size: 18px;
}
.img-part{
    filter: drop-shadow(#bbbbbb 0px 0px 5px);
    width: 50px;
    margin-top: 9px;
}
.box-part-all{
    display: flex;
    flex-wrap: wrap;   
}
.line{
    background-color: #a2a2a2;
    width: auto;
    height: 2px;
    margin: 40px 20px 40px 20px;
}
.txt-part-home{
    color: #2a0061;
    font-size: 20px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    line-height: 20px;
}
.rail-box{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}


.circle-btn {
    position: fixed;
    bottom: 20px;
    right : 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #00ff08;        
    text-align: center;
    text-decoration: none;
    box-shadow: #07cf00 0px 0px 10px;
    margin-bottom: 30px; 
    margin-right: 10px;     
}

.circle-btn img{
    width: 40px;
    margin-top: 12px;
}

.box-game{
    margin: 5px;
    color: #ffffff;
    background-color: #6635d9;
    box-shadow: #2d1174 0px 5px 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.value{
    color: #ffd000;
}
.cover-game{
    width: 150px;
    border-radius: 10px;
    margin: 5px;
}

.box-game-v{
    margin: 5px;
    background-color: #fffcd7;
    box-shadow: #fff893 0px 2px 5px 0px;
    border-radius: 10px;
    width: 400px;
    height: auto;
    border-radius: 10px;
    text-align: right;    
    line-height: 30px;    
    display: flex;
}
.cover-game-v{
    width: 100px;
    border-radius: 10px;
    margin: 12px 12px 0px 5px;
}
.box-game-v h2{    
    margin-top: 20px;
    font-size: 18px;
    margin-left: 5px;
}
.box-game-v p{    
    text-align: center;
    margin-top: 1px;
    font-size: 12px;
    margin-left: auto;
    color: #fff3af;
    background-color: #000000a8;
    border-radius: 100px;
    width: 90px;
    padding: 1px 5px 1px 5px;
}

.left-v{
    margin-left: auto;
}


.end-site{
    box-shadow: #000000 0px 10px 20px;
    background-color: #f4f4f4;
    margin-top: 10px;
    width: auto;
    height: 200px;
    padding-top: 25px;

}
.end-site h1{
    color: #1a0257;
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
    line-height: 30px;
}
.end-site p{
    color: #2b2b2b;
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
    line-height: 15px;
}

.box-line{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;

}
.red-box{
    background-color: #ffbf00;
    border-radius: 100px;
    width: 90px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.box-line p{
    color: #000000;
    line-height: 20px;
    font-size: 20px;
    text-align: center;   
    
}



@keyframes tc_slider {
    0% {
      margin-top: 0;
    }
    31% {
      margin-top: 0;
    }
    36% {
      margin-top: -170px;
    }
    64% {
      margin-top: -170px;
    }
    69% {
      margin-top: -340px;
    }
    97% {
      margin-top: -340px;
    }
  }
  
  .tcSlider {
    width: 95%;
    height: 170px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #000;
    overflow: hidden;
    border-radius: 10px;
  }
  .slider {
    animation: tc_slider 15s infinite;
  }
  .slider_img {
    float: right;
    width: 100%;
    height: 170px;
    background-position: center center;
    background-size: cover;
  }
  .slider_link {
    color: #fff;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    text-decoration: none;
    padding: 5px 15px;
    float: left;
    margin: -50px 0 0 20px;
  }
